
.footer{
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    height: 30px;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    height: 30px;
    line-height: 30px;
}