.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}
.btn{
    text-align: center;
    margin: 5px 63px;
    width: 165px;
}
.input:focus{
    outline: none;
}