<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://github.com/AnthonyZero/xbook-mall" class="link">Github</a> |
            <a href="https://anthonyzero.github.io/" class="link">博客</a> |
            <a href="https://juejin.im/user/58171d3d2e958a0054a49808" class="link">掘金</a> |
            <a href="https://www.zhihu.com/" class="link">知乎</a>
        </div>
        <p class="copyright">Copyright © 2019-2020 XbootMall.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/hogan.js/3.0.2/hogan.min.js"></script>