.page-wrap{
    background: #fff;
    padding: 60px 0;
    text-align: center;
    margin-top: 20px;
}
.result-con{
    display: none;
}
.result-con .result-title{
    color: #555;
}
.result-con .result-content{
    margin-top: 30px;
}
.result-con .result-content .link{
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}